:root {
    --number-offset: 10px;
}

html, body {
    width:100%;
    height:100%;
    font-family: sans-serif;
}

body {
    display:flex;
    justify-content: center;
}

#calculator-container {
    margin: auto 0;
    width:300px;
    min-width:300px;
    max-width:300px;
    flex-grow: 0;

    height:400px;
    display:grid;

    grid-template-areas:
        'display display display display'
        'display display display display'
        'AC sign modulo divide'
        'seven eight nine times'
        'four five six subtract'
        'one two three add'
        'zero zero decimal equals';
    border-radius: 23px;
    box-shadow: 5px 5px white, 13px 13px rgb(0, 0, 156);
}

#display {
    grid-area: display;
    background-color: #043a7c;
    text-align:right;

    display:flex;
    flex-direction:column;
    justify-content: right;

    border-radius: 15px 15px 0px 0px;
}

#equals {
    border-radius: 0px 0px 20px 0px;
}

#current-operator {
    position: absolute;
    bottom: var(--number-offset);
    left: var(--number-offset);
    font-size: 1.3rem;
}

#display > div {
    color:white;
    width:100%;
    height:50%;
    font-size:2rem;

    position:relative;
}

#calculation-history div{
    margin: var(--number-offset) var(--number-offset) 0px 0px;
}

#current-number-text {
    position:absolute;
    bottom: var(--number-offset);
    right: var(--number-offset);
}

.left-most-column {
    background-color: #e95058;
    border-top: 1px solid #ce0f19;
    border-right: 1px solid #ce0f19;
    border-bottom:1px solid #ce0f19;
}
.left-most-column:hover,
.left-most-column:focus {
    background: #ce0f19;
}

.top-row {
    background-color: #125cb6;
}

.top-row:hover {
    background-color: #0d4d9c;
}

/*
Button styling from:
https://css-tricks.com/overriding-default-button-styles/
*/
button {

    border: 1px solid #0053ba;

    display: inline-block;
    margin: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 300ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

button:hover {
    background: #035dcc;
}

/* button:focus {
    outline-offset: -4px;
} */

button:active {
    transform: scale(1);
}