html, body {
    width:100%;
    height:100%;
    font-family: sans-serif;
}

body {
    display:flex;
    justify-content: center;
}

#calculator-container {
    margin: auto 0;
    width: 30vw;
    min-width:300px;
    max-width:320px;

    height:400px;
    display:grid;

    grid-template-areas:
        'display display display display'
        'display display display display'
        'AC sign modulo divide'
        'seven eight nine times'
        'four five six subtract'
        'one two three add'
        'zero zero decimal equals'
}

#display {
    grid-area: display;
    background-color: #043a7c;
    text-align:right;

    display:flex;
    flex-direction:column;
    justify-content: right;
}

#display > div {
    color:white;
    width:100%;
    height:50%;
    font-size:2rem;

    position:relative;
}

#calculation-history div{
    margin: 10px 5px 0px 0px;
}

#current-number span{
    position:absolute;
    bottom: 5px;
    right:5px;
}

.left-most-column {
    background-color: #e95058;
    border-top: 1px solid #ce0f19;
    border-bottom:1px solid #ce0f19;
}
.left-most-column:hover,
.left-most-column:focus {
    background: #ce0f19;
}

.top-row {
    /*Add additional styling here*/
}

/*
Button styling from:
https://css-tricks.com/overriding-default-button-styles/
*/
button {

    border: 1px solid #0053ba;

    display: inline-block;
    margin: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 300ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

button:hover {
    background: #0053ba;
}

/* button:focus {
    outline-offset: -4px;
} */

button:active {
    transform: scale(1);
}